# -*- coding: utf-8 -*-
#####################################################
#Author: @SVAKSHA, 20131011 07:02:18 AM IST
#####################################################


#------------------------------------------------------
# DONT ignore 
#------------------------------------------------------
!*.pdf

#------------------------------------------------------
# GENERAL
#------------------------------------------------------
.directory
.ipynb_checkpoints  # isnt this handled in the global file?
pvt-*
PVT-*
*-pvt-*
pvt/
/PRIVATE/*
/PRIVATE-*/


#------------------------------------------------------
# DVCS
#------------------------------------------------------
*.git
*.hg
.hgignore

#------------------------------------------------------
# EDITOR: Vi, Kate
#------------------------------------------------------
*.swp

